<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>about</title>
</head>
<body>
	<div class="container text-center border my-4 p-5">
    <h1>- Our Mission -</h1>
    <b>To Provide The Most Accurate Diabetic Retinopathy</b><br><br><br>
    <h1>About</h1>
    <p>Apptopia has a very well structured About Us page, which includes a variety of different information categories
        for their visitors, including their mission, leadership, their team, investors, and also their locations around
        the world. All the information on their page is categorized in a way that is highly presentable and makes it
        easier for visitors to jump to any one of their preferred sections. This all in one About Us page example is a
        great one to watch if you want to go down this road.</p>
    <p>If you prefer visual graphics over lengthy texts, you should take a look at Huge Inc. and how they have managed
        to design their About Us page. With their unique designs, they have managed to create a link with Brooklyn,
        where the company was founded, while condensing their information into visualized diagrams. Huge Inc. manages to
        get across all their messages through some nifty artwork.</p>
</div>
<div class="container border p-4">
    <h1 class="text-center">Our Teams</h1><br>
    <div class="row">
        <div class="col-sm-7 bg-danger p-5">
            <strong class="text-uppercase">Avishek Dhakal</strong><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus
                eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos
                cupiditate dolore doloribus!</p>
        </div>
        <div class="col-sm-5 bg-info p-3 pl-10 text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg4Dp_bTTPRO6HUAtXh6TnauzqY-_osKANag&usqp=CAU"
                 class="border rounded-circle" alt="photo">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-5 bg-info p-3 pl-10 text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg4Dp_bTTPRO6HUAtXh6TnauzqY-_osKANag&usqp=CAU"
                 class="border rounded-circle" alt="photo">
        </div>
        <div class="col-sm-7 bg-danger p-5">
            <strong class="text-uppercase">Bikram Subedi</strong><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus
                eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos
                cupiditate dolore doloribus!</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-7 bg-danger p-5">
            <strong class="text-uppercase">Diwas Shrestha</strong><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus
                eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos
                cupiditate dolore doloribus!</p>
        </div>
        <div class="col-sm-5 bg-info p-3 pl-10 text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg4Dp_bTTPRO6HUAtXh6TnauzqY-_osKANag&usqp=CAU"
                 class="border rounded-circle" alt="photo">
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-5 bg-info p-3 pl-10 text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg4Dp_bTTPRO6HUAtXh6TnauzqY-_osKANag&usqp=CAU"
                 class="border rounded-circle" alt="photo">
        </div>
        <div class="col-sm-7 bg-danger p-5">
            <strong class="text-uppercase">Mabika Bohara</strong><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus
                eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos
                cupiditate dolore doloribus!</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-sm-7 bg-danger p-5">
            <strong class="text-uppercase">Prabesh Magar</strong><br>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus
                eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos
                cupiditate dolore doloribus!</p>
        </div>
        <div class="col-sm-5 bg-info p-3 pl-10 text-center">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSg4Dp_bTTPRO6HUAtXh6TnauzqY-_osKANag&usqp=CAU"
                 class="border rounded-circle" alt="photo">
        </div>
    </div>
</div>
</body>
</html>